/*
FEND memory game project
Chuck Huffman - 201800908

responsive.css
*/

@media screen and (min-width: 450px) {
  .title {
    font-size: 1.3em;
  }

  .scoreBoard {
    font-size: 1.2em;
  }

  tr {
    height: 70px;
  }

  td {
    width: 70px;
  }
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 2.0em;
  }

  .scoreBoard {
    font-size: 1.4em;
  }

  tr {
    height: 100px;
  }

  td {
    width: 100px;
  }
}

@media screen and (min-width: 600px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
}
