/*
FEND memory game project
Chuck Huffman - 201800908

style.css
*/

/*
********************
* global
********************
*/

header,
footer,
section,
article,
div {
  /* keep elements padding and borders contained within width and height   */
  box-sizing: border-box;
}

body {
  /* setup for page styling     */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  color: #444;
}

/*
********************
* header
********************
*/

header {
  /* Use flexbox to help manage element containers */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  height: 100%;
}

.title {
  /* style name in header, spacing and positioning */
  align-self: center;
  color: #933;
  text-shadow: 2px 2px 2px lightgrey;
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-radius: 5px;
  font-size: 1.1em;
  width: 80%;
  padding: 10px;
  box-shadow: 4px 4px 4px lightgrey;
}

.scoreBoard {
  /* alignment for self in parent */
  align-self: center;

  /* text style */
  width: 80%;
  font-family: 'FontAwesome', sans-serif;
  font-size: 1em;
  color: #933;

  /* make flexbox within scoreBoard */
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.scoreItem {
  align-self: flex-end;

  /* minimum button width for small screens */
  min-width: 48px;
  min-height: 48px;

  /* center vertically */
  line-height: 48px;
  height: 48px;
}

/* adjust scoreBoard box sizes to accomodate larger star box */
.timer,
.moves {
  width: 25%;
}

.stars {
  width: 35%;
}

/* flip repeat icon to more closely represent a restart icon */
.restart {
  transform: rotateY(180deg);
  width: 15%;
}

/*
********************
* main
********************
*/

main {
  /* ensure usage of full main area */
  width: 100%;
}

table,
tr,
td {
  border: 1px solid #933;
}

/* styles for the table base */
table {
  border-collapse: separate;
  margin: 5px auto;
  border-radius: 20px;
  border-spacing: 10px;
  box-shadow: 6px 6px 6px lightgrey;
  background: linear-gradient(to right bottom, #f2d9d9, #c66);
  cursor: pointer;
}

/* sizing of the table grid */
tr {
  height: 60px;
}

/* sizing and styling of the individual cells. */
td {
  font-family: 'FontAwesome', sans-serif;
  line-height: 48px;
  height: 48px;
  text-align: center;
  font-size: 3em;
  width: 60px;
  border-radius: 50%;
  box-shadow: 4px 4px 2px #933;
  background: linear-gradient(to right bottom, #ff9, #cc0);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* show half press of button cell on hover */
td:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 2px #933;
}

/* show full press of button cell on click */
td:active {
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 #c66;
}

/* style modal */
.modal {
  /* hide modal */
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  /* try for semitransparent background */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff9de;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}
